@mixin containers(){
  width: 90%;
  display: inline-flex;
  &__blocks{
    width: 50%;
    padding: 3%;
    height: 700px;
    color: white;
    margin-left: 1%;
    scrollbar-width: none;
    border-radius: 0.5rem;
    overflow: hidden scroll;
    background-color: black;
  }
}
.container{
  @include containers();
}
